<%- include('layouts/navbar.ejs', { user: user }) %>

<main class="relative p-4 grid grid-cols-2 w-full gap-8">

  <% if (fail) { %>
  <div class="absolute flex gap-2 items-center w-max ml-8 mt-8 p-4 rounded-xl border-2 border-black bg-orange-200">
    <h3 class="font-semibold"><%= fail %></h3>
    <svg width="40" height="40" class="cursor-pointer" onclick="this.parentNode.remove()">
      <circle cx="20" cy="20" r="15" fill="#ef4444" />
      <text fill="#f5f5f5" font-size="25" font-weight="700" x="14" y="26">x</text>
    </svg>
  </div>
  <% } %>

  <div class="bg-white bg-opacity-50 px-2 py-1 text-xl rounded-xl border-2 border-black">

    <h3 class="font-bold">Mi perfil:</h3>
    <form class="px-6 flex flex-col gap-2" id="updateForm" action="/dashboard/update?_method=PUT" method="POST">

      <p>Nombre de usuario:</p>
      <p class="input"><%= user.username %></p>

      <p>Email</p>
      <p class="input"><%= user.email %></p>

      <p>Nombre</p>
      <p class="input"><%= user.firstname %></p>

      <p>Apellido</p>
      <p class="input"><%= user.lastname %></p>

      <label for="cellphone">Celular <small>(modificable)</small></label>
      <input type="text" value="<%= user.cellphone ? user.cellphone : '' %>" id="cellphone" placeholder="Celular" name="cellphone">

      <label for="profile_pic">Imagen de perfil (url) <small>(modificable)</small></label>
      <input type="text" value="<%= user.profile_pic %>" id="profile_pic" placeholder="Imagen de perfil (url)" name="profile_pic">

      <button class="rounded-xl border-2 border-black bg-red-500 text-xl font-bold px-2">Actualizar</button>

    </form>
  </div>

  <div class="bg-white bg-opacity-50 px-2 py-1 text-xl rounded-xl border-2 border-black">

    <h3 class="font-bold">Ofrecer nuevo libro:</h3>
    <form class="px-6 flex flex-col gap-2" id="newBookForm" action="/books/create" method="POST">

      <label for="title">Título*</label>
      <input type="text" placeholder="Título" name="title" id="title" required>

      <label for="author">Autor*</label>
      <input type="text" placeholder="Autor" name="author" id="author" required>

      <label for="year">Fecha de publicación*</label>
      <input type="text" placeholder="Publicación" name="year" id="year" required>

      <label for="publisher">Editorial*</label>
      <input type="text" placeholder="Editorial" name="publisher" id="publisher" required>

      <label for="price">Precio de alquiler ($)*</label>
      <input type="number" min="0" placeholder="Precio de alquiler ($)" name="price" id="price" required>

      <label for="period">Duración del alquiler*</label>
      <input type="text" placeholder="Duración del alquiler" name="period" id="period" required>

      <label for="category">Categoría</label>
      <input type="text" placeholder="Categoría" name="category" id="category">

      <label for="cover_image">Imagen de portada (url)</label>
      <input type="text" placeholder="Imagen de portada (url)" name="cover_image" id="cover_image">

      <button class="rounded-xl border-2 border-black bg-red-500 text-xl font-bold px-2">Agregar</button>

      <small>* requerido</small>
    </form>
  </div>

</main>

</body>

</html>