<%- include('layouts/navbar.ejs', { user: user }) %>

<main id="main" class="p-4 w-full gap-8">

  <div class="bg-white bg-opacity-50 px-2 py-1 text-xl rounded-xl border-2 border-black">

    <div class="flex justify-between py-2 items-center">
      <h3 class="font-bold">Todos los libros:</h3>
      <form class="flex gap-2" action="/dashboard/search/" method="POST">
        <input type="text" placeholder="Buscar por título..." name="title" required>
        <button class="border-2 border-black rounded-xl px-2">Buscar</button>
      </form>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 4xl:grid-cols-5 5xl:grid-cols-6 gap-3">
      <% if (books.length> 0) { %>
      <% books.forEach(book => { %>

      <div class="flex flex-col border-2 border-black bg-white w-64">
        <img src="<%= book.cover_image %>" alt="<%= book.title %>" class="h-96">
        <div class="px-4 flex flex-col pb-2 gap-1">
          <p><b>Título</b>: <%= book.title %></p>
          <p><b>Autor</b>: <%= book.author %></p>
          <p><b>Publicación</b>: <%= book.year %></p>
          <p><b>Editorial</b>: <%= book.publisher %></p>
          <p><b>Precio</b>: $<%= book.price %></p>
          <p><b>Duración</b>: <%= book.period %></p>
          <p><b>Agregado: </b> <%= book.created_date %></p>
          <% if (book.category) { %>
          <p><b>Categoría</b>: <%= book.category %></p>
          <% } %>
        </div>
        <a class="mt-auto m-1 text-center border-2 border-black bg-sky-500 rounded-xl" href="/dashboard/search/<%= book.owner_username %>"><b>Pertenece a</b>: <%= book.owner_username %></a>
        <a class="m-1 text-center border-2 border-black bg-green-500 rounded-xl" href="/dashboard/rent/<%= book.id %>">
          Ir a la página
        </a>
      </div>
      <% })} else { %>
      <h2>No existen libros con ese nombre.</h2>
      <% } %>
    </div>

  </div>

</main>

</body>

</html>