<%- include('layouts/navbar.ejs', { user: user }) %>

<main class="flex flex-col w-full gap-8 p-4">

  <div class="flex items-center justify-around px-2 py-1 text-xl bg-white bg-opacity-50 border-2 border-black h-max rounded-xl">
    <div class="flex flex-col gap-1">
      <h2 class="font-bold text-center bg-white input"><%= ownerData.username %></h2>
      <p class="bg-white input">Nombre: <%= ownerData.firstname %> <%= ownerData.lastname %></p>
      <p class="bg-white input">Email: <%= ownerData.email %></p>
      <p class="bg-white input">Teléfono: <%= ownerData.cellphone || 'Sin aclarar' %></p>
      <% if ((user.username !== ownerData.username) && !follows) { %>
      <a class="m-1 mt-auto text-center bg-green-500 border-2 border-black rounded-xl" href="/follow/<%= ownerData.username %>">Seguir</a>
      <% } else if (follows) { %>
      <p class="m-1 mt-auto text-center bg-orange-500 border-2 border-black rounded-xl">Siguiendo</p>
      <% } %>
    </div>
    <img src="<%= ownerData.profile_pic %>" alt="<%= ownerData.username %>" width="200" height="200" class="border-2 border-black">
  </div>
  <div class="px-2 py-1 text-xl bg-white bg-opacity-50 border-2 border-black rounded-xl">
    <h3 class="font-bold">Libros (<%= books.length %>)</h3>

    <div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 4xl:grid-cols-5 5xl:grid-cols-6">
      <% if (books.length> 0) { %>
      <% books.forEach(book => { %>

      <div class="flex flex-col w-64 bg-white border-2 border-black">
        <img src="<%= book.cover_image %>" alt="<%= book.title %>" class="h-96">
        <div class="flex flex-col gap-1 px-4 pb-2">
          <p><b>Título</b>: <%= book.title %></p>
          <p><b>Autor</b>: <%= book.author %></p>
          <p><b>Publicación</b>: <%= book.year %></p>
          <p><b>Editorial</b>: <%= book.publisher %></p>
          <p><b>Precio</b>: $<%= book.price %></p>
          <p><b>Duración</b>: <%= book.period %></p>
          <p><b>Agregado: </b> <%= book.created_date %></p>
          <% if (book.category) { %>
          <p><b>Categoría</b>: <%= book.category %></p>
          <% } %>
        </div>
        <a class="m-1 mt-auto text-center bg-green-500 border-2 border-black rounded-xl" href="/dashboard/rent/<%= book.id %>">
          Ir a la página
        </a>
      </div>
      <% })} %>
    </div>
  </div>

</main>